@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800 &display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: Montserrat;
}

button {
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1050px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
.title {
  color: #252b42;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.43; /* 142.5% */
  letter-spacing: 0.2px;
}

@media (max-width: 991.98px) {
  .title {
    font-size: 35px;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 30px;
  }
}
.title:not(:last-child) {
  margin-bottom: 10px;
}

.sub-title {
  color: #737373;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43; /* 142.857% */
  letter-spacing: 0.2px;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479.98px) {
  .header__container {
    min-width: 85px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  padding: 0 20px 0 133px;
}

@media (max-width: 991.98px) {
  .header__menu {
    padding: 0 20px 0 80px;
  }
}
@media (max-width: 767.98px) {
  .header__menu {
    padding: 0 20px 0 50px;
  }
}
@media (max-width: 479.98px) {
  .header__menu {
    padding: 0 20px 0 20px;
  }
}
.menu {
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.2px;
  color: #737373;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 479.98px) {
  .menu__link {
    font-size: 14px;
  }
  .menu__item:not(:last-child) {
    margin-right: 15px;
  }
}
.hero-block {
  position: relative;
}

.page-block__body {
  position: relative;
  z-index: 2;
  padding: 184px 0px 191px 0px;
  max-width: 400px;
}

@media (max-width: 991.98px) {
  .page-block__body {
    padding: 120px 0px 191px 0px;
  }
}
@media (max-width: 478.98px) {
  .page-block__body {
    padding: 115px 0px 160px 0px;
  }
}
.page-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}

.group-hero__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 1.39; /* 137.931% */
  letter-spacing: 0.2px;
}

@media (max-width: 478.98px) {
  .group-hero__title {
    font-size: 42px;
  }
}
.group-hero__sutitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 991.98px) {
  .group-hero__sutitle {
    color: #464646;
  }
}
.page-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}

.group-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  background-color: #ff7b47;
  padding: 5px 36px;
  border-radius: 37px;
  min-height: 48px;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%; /* 200% */
  letter-spacing: 0.2px;
  -webkit-transition: background-color 300ms ease 0ms;
  transition: background-color 300ms ease 0ms;
  margin: 10px 0;
}

@media (max-width: 478.98px) {
  .group-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .group-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.group-block__button:hover {
  background-color: rgb(242, 98, 41);
}

.group-block__button_border {
  color: #0d5c63;
  background-color: transparent;
  border: 1px solid #0d5c63;
  border-radius: 37px;
}

.group-block__button_border:hover {
  background-color: rgba(13, 92, 99, 0.2);
}

.page-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .page-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 991.98px) {
  .page-block__image {
    opacity: 0.5;
  }
}
.page__services-block {
  background-color: #FAFAFA;
}

.services-block__container {
  position: relative;
  z-index: 2;
  margin-top: -111px;
}

@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -15px;
  }
}
.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 991.98px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin-bottom: 30px;
  }
  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.services__item {
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
}

@media (max-width: 478.98px) {
  .services__item {
    padding: 25px 30px;
  }
}
.itim-services_green {
  color: #fff;
  background-color: #0d5c63;
}

.itim-services__icon > *:not(:last-child) {
  padding-bottom: 10px;
}

.list__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.1px;
}

.list__subtitle {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43; /* 142.857% */
  letter-spacing: 0.2px;
}

.list__subtitle_green {
  color: #fff;
}

.page__advantages {
  padding-top: 80px;
  background-color: #fafafa;
}

@media (max-width: 991.98px) {
  .page__advantages {
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .page__advantages {
    padding-top: 40px;
  }
}
.advantages__header {
  margin-bottom: 50px;
}

@media (max-width: 767.98px) {
  .page__advantages {
    margin-bottom: 30px;
  }
}
.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin-bottom: 30px;
}

@media (max-width: 1020px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.advantages__item {
  background-color: #fff;
  padding: 30px 25px;
  text-align: center;
}

.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__value {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.43; /* 142.5% */
  letter-spacing: 0.2px;
}

.advantages__text {
  color: #737373;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
}

.page__practice {
  padding: 125px 0px 80px 0px;
  background-color: #fafafa;
}

@media (max-width: 991.98px) {
  .page__practice {
    padding-top: 40px 0px 80px 0px;
  }
}
@media (max-width: 767.98px) {
  .page__practice {
    padding-top: 0px 0px 40px 0px;
  }
}
.practice__header {
  margin-bottom: 45px;
}

@media (max-width: 767.98px) {
  .practice__header {
    margin-bottom: 25px;
  }
}
.practice__body {
  margin: 0px -15px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 1040px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.item-practice {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin-bottom: 15px;
}

.item-practice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
}

.item-practice__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43; /* 142.857% */
  letter-spacing: 0.2px;
}

.item-practice__image {
  display: block;
  padding-bottom: 60%;
}

.whoweare {
  padding: 80px 0px 130px 0px;
}

@media (max-width: 767.98px) {
  .whoweare {
    padding: 0px 0px 50px 0px;
  }
}
@media (max-width: 950px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }
}
.whoweare__header {
  margin-bottom: 100px;
}

@media (max-width: 950px) {
  .whoweare__header {
    margin-bottom: 30px;
  }
}
.whoweare___body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 950px) {
  .whoweare___body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%;
}

@media (max-width: 950px) {
  .whoweare__video {
    padding-bottom: 56.25%;
  }
  .whoweare__video:not(:last-child) {
    margin-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .whoweare__video {
    margin-top: 30px;
  }
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}
.whoweare__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.43; /* 142.5% */
  letter-spacing: 0.2px;
}

@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
  }
  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }
}
.whoweare__title:not(:last-child) {
  margin-bottom: 10px;
}

.whoweare__text {
  color: #737373;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 225px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43; /* 142.857% */
  letter-spacing: 0.2px;
}

.whoweare__items {
  margin-top: 50px;
}

.whoweare__item:not(:last-child) {
  margin-bottom: 30px;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  padding-right: 20px;
}

.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-whoweare__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
}

.item-whoweare__title:not(:last-child) {
  margin-bottom: 5px;
}

.item-whoweare__text {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.2px;
}

.page__clients {
  margin-bottom: 10px;
}

.clients {
  padding: 50px 0;
}

@media (max-width: 767.98px) {
  .clients {
    padding: 30px 0;
  }
}
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  padding-bottom: 20px;
}

.subscribe::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 77px;
  background-color: #252b42;
}

.subscribe__body {
  position: relative;
  padding: 30px 50px;
  border-radius: 2px;
  background-color: #17213c;
  z-index: 2;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}
.subscribe__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.1px;
  color: #fff;
}

@media (max-width: 810px) {
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 15px;
  }
  .subscribe__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscribe__title {
    max-width: 266px;
  }
}
.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-height: 58px;
  padding: 0px 20px;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
}

.subscribe__input:-moz-placeholder-shown {
  font-size: 14px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__input:placeholder-shown {
  font-size: 14px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.2px;
  color: #737373;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 22px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  background-color: #ff7b47;
  min-height: 58px;
  -webkit-transition: background-color 300ms ease 0ms;
  transition: background-color 300ms ease 0ms;
  color: #fff;
}

.subscribe__button:hover {
  background-color: rgb(242, 98, 41);
}

.page__getintouch {
  background-color: #f3f3f3;
}

.getintouch {
  padding: 80px 0px 148px 0px;
}

.getintouch__header {
  margin: 0px 0px 80px 0px;
}

.getintouch__items {
  margin: 0 -15px;
}

@media (min-width: 992px) {
  .getintouch__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
@media (max-width: 991.98px) {
  .getintouch {
    padding: 50px 0px 50px 0px;
  }
  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}
.getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 50px 15px;
  -webkit-transition: all 300ms ease 0ms;
  transition: all 300ms ease 0ms;
}

.item-getintouch > *:not(:last-child) {
  margin-bottom: 15px;
}

.item-getintouch:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 3px 44px 54px 0px rgba(0, 0, 0, 0.08), 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 3px 44px 54px 0px rgba(0, 0, 0, 0.08), 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}

.item-getintouch_dark {
  background-color: #252b42;
}

.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-getintouch__email {
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.2px;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__emails_white {
  color: #fff;
}

.item-getintouch_label {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
}

.item-getintouch_label_white {
  color: #fff;
}

.item-getintouch__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ff7b47;
  padding: 10px 20px;
  min-height: 44px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.2px;
  -webkit-transition: background-color 300ms ease 0ms;
  transition: background-color 300ms ease 0ms;
  color: #ff7b47;
}

.item-getintouch__button:hover {
  background-color: rgba(255, 123, 71, 0.2);
}

.item-getintouch__button_white {
  border: 1px solid #fff;
  color: #fff;
}

.item-getintouch__button_white:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.page__contact {
  padding: 40px 0px;
}

.contact__content {
  padding: 0px 0px 20px 0px;
}

@media (min-width: 767px) {
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__content {
    padding-right: 20px;
  }
}
.content__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  letter-spacing: 0.1px;
}

.content__title:not(:last-child) {
  margin-bottom: 10px;
}

.content__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43; /* 142.857% */
  letter-spacing: 0.2px;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 58px;
  border-radius: 5px;
  color: #fff;
  background-color: #ff7b47;
  padding: 15px 40px;
  -webkit-transition: background-color 300ms ease 0ms;
  transition: background-color 300ms ease 0ms;
}

.contact__button:hover {
  background-color: rgb(242, 98, 41);
}

.footer__top {
  background-color: #17213c;
  padding: 30px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.footer__column {
  padding: 20px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.667%;
          flex: 0 1 16.667%;
}

.footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}

@media (max-width: 991.98px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .footer__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 700px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__label {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
  margin: 0px 0px 20px 0px;
}

.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.menu-footer__link {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.2px;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts-footer__item {
  padding: 0px 0px 0px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.2px;
  color: #fff;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.contacts-footer__item_phone {
  background: url("/img/icons/footer-1.svg") 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url("/img/icons/footer-2.svg") 0 0 no-repeat;
}

.contacts-footer__item_email {
  background: url("/img/icons/footer-3.svg") 0 0 no-repeat;
}

.footer__bottom {
  padding: 25px 0px;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.2px;
}

@media (max-width: 767px) {
  .bottom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copy {
    margin-bottom: 15px;
    text-align: center;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.dropbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 140px;
}

.dropbtn {
  background: url("/img/icons/ukraine-flag-icon.svg") no-repeat left center;
  padding-left: 30px;
  margin-bottom: 5px;
  height: 16px;
}

.dropbtn::after {
  background: rgba(0, 0, 0, 0) url("/img/icons/chevron-down-solid.svg") no-repeat scroll center center;
  content: "";
  height: 10px;
  position: absolute;
  right: -10px;
  top: 5px;
  width: 16px;
}

.dropdown-content a:first-child {
  background: url("/img/icons/ukraine-flag-icon.svg") no-repeat left center;
  margin-bottom: 5px;
}

.dropdown-content a:last-child {
  background: url("/img/icons/united-states-flag-icon.svg") no-repeat left center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 2px 0px 0px 25px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}/*# sourceMappingURL=main.css.map */